<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <header>
        <h1>welcome to home page</h1>
        <h3>you can go to frontend projects using links below</h3>
        <div class="links">
            <ul>
                <li><a href="">resume</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">growth</a></li>
            </ul>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>